.fundo-receita {background-image: url(../img/hamburger-pattern.jpg);}

footer {background: rgb(42,15,0); background: linear-gradient(90deg, rgba(42,15,0,1) 0%, rgba(0,0,0,1) 100%);}

#equipe h1 {position: relative; top: 50%; transform: translateY(-50%);}

@media only screen and (max-width: 540px) {
	.dj_aprova * {font-size: 25px; margin: 25px !important}
}

@media only screen and (max-width: 370px) {
	.dj_aprova * {font-size: 22px; margin: 20px !important}
}

.card-text {font-size: larger;}

.star {width: 1.6em}

.social-media-icons img {width: 2em;}
.social-media-icons a {opacity: 0.7;}
.social-media-icons a:hover{opacity: 1; transition: 0.3s;}